html{
    font-family: sans-serif;
}

p{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr, th, td{
    border: 1px solid rgba(12, 12, 12, 0.164);
    background-color: rgba(224, 220, 213, 0.438);
    text-align: center;
    padding: 10px 35px 10px 35px;
}

tr:nth-child(odd) td{
    background-color: rgb(226, 218, 218);
}
